<div class="col-md-12">
  <div class="row header">
    <div class="text-center">
      <h1 class="title">全栈圈，全栈营的专属社交圈</h1>
      <p class="slogan">马克思说：人是社会关系的总和。想成为下一个自己，就要和不同的人在一起</p>
      <p class="lead">
        <%= link_to '马上入圈', members_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="content-1">
    <div class="row">
      <div class="feature">
        <h2>“约一约”，马上开始重构自己的社交圈</h2>
        <p>
          在全栈营里，不仅有最牛B的老师，也有最优秀的同学；不仅有最好的课程，还可能有你未来的合作伙伴或人生伴侣。全栈圈帮助你找到感兴趣的老师或同学，马上“约”他/她出来，
          让牛B的小伙伴们成为你的社会关系，你也不得不牛B起来！
        </p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="content-2">
    <div class="row">
      <div class="feature">
        <h2>让真实的评价打开你的盲区，从此成长加速10倍</h2>
        <p>
          想要快速成长，却经常被自己的认知边界限制。在全栈圈，全栈营的小伙伴们就是你的镜子；借助他们的评价，发现自己的优点和短板，从此成长加速10倍！
        </p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="bottom">
    <p class="lead">
      <%= link_to '马上入圈', members_path, class: "btn btn-primary" %>
    </p>
  </div>
</div>
