<div class="col-md-12">
  <div class="row header">
    <div class="box">
      <h1 class="title">全栈圈——全栈营的专属社交圈</h1>
      <p class="slogan">马克思说：人是社会关系的总和。要成为下一个自己，就要和不一样的人在一起。</p>
      <p class="lead">
        <%= link_to '马上入圈', members_path, class: 'btn' %>
      </p>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="row content-1">
    <div class="short-line"></div>
    <div class="feature">
      <h2>需要重构的不仅是代码，还有社交关系</h2>
      <div class="container">
        <div class="col-md-5 content col-md-offset-1">
          <div class="image">
            <%= image_tag 'meet.jpg', class: 'img-responsive' %>
          </div>
          <br/>
          <p>
            在全栈营里，有最牛B的老师，还有最优秀的同学
            <br/>
            有最好的课程，还可能有未来的合作伙伴或人生伴侣
          </p>
        </div>
        <div class="col-md-5">
          <div class="image">
            <%= image_tag 'beer.jpg', class: 'img-responsive' %>
          </div>
          <br/>
          <p>
            “约一约”，马上开始重构自己的社交圈
            <br/>
            加入牛B的小伙伴的关系网，自己不得不牛B起来
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="row content-2">
    <div class="short-line"></div>
    <div class="feature">
      <h2>让真实的评价打开认知边界，成长加速10倍</h2>
      <p>
        在全栈圈，你和小伙伴们都是对方的镜子
        <br/>
        借助相互评价，从丰富的角度了解自己和他人，发现相互的优点和短板，让成长加速10倍！
      </p>
    </div>
    <div class="container">
      <div class="person col-md-4">
	        <img class="avatar" src="https://avatars1.githubusercontent.com/u/9004?v=3&s=200">
          <div class="name">
            Xdite
          </div>
	        <div class="words">
	          <span class="fa fa-quote-left quote-left"></span>
	          <div class="content">大家好！我是Xdite，最近看到 Nic 在「全栈圈」的人气比我高，我感到很沮丧</div>
            <span class="fa fa-quote-right quote-right"></span>
	        </div>
	      </div>
	      <div class="person col-md-4">
	        <img class="avatar" src="https://avatars0.githubusercontent.com/u/7571949?v=3&s=200">
          <div class="name">
            Nic
          </div>
	        <div class="words">
	          <span class="fa fa-quote-left quote-left"></span>
	          <div class="content">看到小伙伴们对我的评价，对我改进课程非常的有帮助，希望小伙伴们继续支持我</div>
            <span class="fa fa-quote-right quote-right"></span>
	        </div>
	      </div>
        <div class="person col-md-4">
          <img class="avatar" src="https://avatars1.githubusercontent.com/u/11372825?v=3&s=200">
          <div class="name">
            Alex
          </div>
          <div class="words">
            <span class="fa fa-quote-left quote-left"></span>
            <div class="content">「全栈圈」提供了一个社交工具，让我可以高效的了解自己和全栈营的小伙伴们</div>
            <span class="fa fa-quote-right quote-right"></span>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="row bottom">
    <div class="box">
      <div class="lead">
        <%= link_to '马上入圈', members_path, class: 'btn' %>
      </div>
    </div>
  </div>
</div>
