// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.member-list {
  margin-top: 10px;
  margin-bottom: 70px;
}

.member-bg {
  margin-top: 10px;
}

.member {
  margin: 20px 10px;
  hr {
    margin: 15px 0;
  }
}

.member-img-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.member-content {
  text-align: center;
  border: 1px solid #b9b9b9;
  border-top: 0px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .member-avatar {
    margin-top: -65px;
    .avatar {
      margin: 0 auto;
      width: 90px;
      height: 90px;
      border: 1px solid #FFF;
      border-radius: 50%;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }
    .avatar:focus,
    .avatar:hover {
      box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
    }
  }

  .member-title {
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
  }

  .member-email {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  }

  .member-role {
    .btn-default {
      pointer-events: none;
      border-color: #FFF;
      vertical-align: middle;
      height: 30px;
    }
    i {
      color: #FFF;
      font-size: 14px;
      text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    }
    .gender-male {
      background-color: #3F51B5;
    }
    .gender-female {
      background-color: #E91E63;
    }
    span {
      color: #FFF;
      font-size: 12px;
      letter-spacing: 0.06em;
      text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    }
    .role-teacher {
      background-color: #9C27B0;
    }
    .role-student {
      background-color: #4CAF50;
    }
  }

  .member-social {
    margin-top: 15px;
    .btn {
      font-size: 0.9em;
      text-shadow: 0 1px 1px rgba(0,0,0,0.2);
      box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    }
    .social-status {
      margin-top: 10px;
      p {
        color: #777;
        display: inline-block;
        text-shadow: 0 1px 1px rgba(0,0,0,0.1);
      }
      h4 {
        display: inline-block;
        text-shadow: 0 1px 2px rgba(0,0,0,0.1);
      }
    }
  }

  .member-links {
    a {
      margin: 0 15px;
      box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
    }
    a:focus,
    a:hover {
      box-shadow: 2px 3px 4px rgba(0,0,0,0.4);
    }
    img {
      width: 30px;
      height: 30px;
    }
  }

  .member-wechat {
    color: #757575;
    margin-top: 15px;
    background-color: #F5F5F5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    padding: 10px 0;
    img {
      width: 20px;
      height: 20px;
    }
  }
}
